.bang_zip_container {
  display: flex;
  width: 1000px;
  height: 100vh;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.bang_gul_zip {
  width: 374px;
  height: 213px;
  flex-shrink: 0;
  border: 1px solid #000;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.bang_gul_zip {
  display: flex;
  width: 393px;
  height: 148px;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}
.bang_gul_zip_img {
  width: 110px;
  height: 110px;
  flex-shrink: 0;
  border: 1px solid black;
}
.bang_gul_zip_title {
  width: 355px;
  height: 38px;
  flex-shrink: 0;
  border: 1px solid black;
}
.bang_gul_zip_sub {
  display: flex;
  width: 358px;
  height: 206px;
  padding: 0px 10px;
  align-items: flex-start;
  gap: 10px;
  flex-shrink: 0;
  border: 1px solid black;

}
