@media screen and (min-width: 769px) {
  .bread_container {
    display: flex;
    width: 1000px;
    height: 100vh;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    overflow: auto;
  }
  .bread_container_wrap {
    height: 100vh;
  
  }
  .bread_container_contents{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .bread_container img {
    width: 370px;
    height: 213px;
    flex-shrink: 0;
    border: 1px solid #000;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  .bread_info_img {
    display: flex;
    width: 370px;
    height: 148px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
  }
  .bread_info_img img {
    width: 110px;
    height: 110px;
  }
  .bread_info_text{
    display: flex;
    width: 370px;
    flex-direction: column;
  }
  .bread_info_text strong {
    font-size: 30px;
  }
  .like_button{
    display: flex;
  }
}
@media screen and (max-width: 768px) {
  .bread_container {
    display: flex;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    overflow: auto;
  }
  .bread_container_wrap {
    height: 100vh;
  }
  .bread_container_contents{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .bread_container img {
    width: 100%;
    height: 213px;
    flex-shrink: 0;
    border: 1px solid #000;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  .bread_info_img {
    display: flex;
    width: 100%;
    height: 148px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
  }
  .bread_info_img img {
    width: 110px;
    height: 110px;
  }
  .bread_info_text{
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  .bread_info_text strong {
    font-size: 30px;
  }
  .like_button{
    display: flex;
  }
}
@media screen and (max-width: 430px) {
  .bread_container {
    display: flex;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    overflow: auto;
  }
  .bread_container_contents{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .bread_container_wrap {
    height: 100vh;
  }
  .bread_container img {
    width: 100%;
    height: 213px;
    flex-shrink: 0;
    border: 1px solid #000;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  .bread_info_img {
    display: flex;
    width: 100%;
    height: 148px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
  }
  .bread_info_text{
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  .bread_info_img img {
    width: 110px;
    height: 110px;
  }
  .bread_info_text strong {
    font-size: 30px;
  }
  .like_button{
    display: flex;
  }
}